{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <!-- Navigation buttons -->
    <br>
    <div class="container">

        <!-- Logout Button -->
        <form method="post" id="logout-form" action="{% url 'logout_user' %}">
            <button id="profile-btn" class="btn btn-primary" type="button">Profile</button>
            <button id="reservations-btn" class="btn btn-primary" type="button">Reservations</button>
            <button id="tickets-btn" class="btn btn-primary" type="button">Movie Tickets</button>
            {% csrf_token %}
            <button class="btn btn-danger" id="logout-btn" type="submit">Logout</button>
        </form>

        <hr>
    </div>
    <!-- Profile Section -->
    <div class="container profile-groups">
        <!-- Update Profile Form -->
        <div id="profile-section" class="profile-group">
            <form method="post" action="{% url 'profile' %}">
                <h1>Update Profile</h1>
                <hr>
                {{ form }}
                {% csrf_token %}
                <button class="btn btn-success" type="submit">Save changes</button>
            </form>

        </div>
        <!-- Reservations Section -->
        <div id="reservations-section" class="profile-group">
            <h1>Reservations</h1>
            <hr>
            <!-- Claimed Reservations -->
            <h3>Claimed Reservations</h3>
            {% for reservation in claimed_reservations %}
                <li>
                    Your reservation for {{ reservation.item.name }} on {{ reservation.reservation_time }} is
                    <span>CLAIMED</span>
                </li>
            {% endfor %}
            <!-- Pagination for Claimed Reservations -->
            <div class="pagination">
                <span class="step-links">
                    {% if claimed_reservations.has_previous %}
                        <a href="?page_claimed=1&page_unclaimed={{ unclaimed_reservations.number }}">&laquo; first</a>
                        <a href="?page_claimed={{ claimed_reservations.previous_page_number }}&page_unclaimed={{ unclaimed_reservations.number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ claimed_reservations.number }} of {{ claimed_reservations.paginator.num_pages }}.
                    </span>

                    {% if claimed_reservations.has_next %}
                        <a href="?page_claimed={{ claimed_reservations.next_page_number }}&page_unclaimed={{ unclaimed_reservations.number }}">next</a>
                        <a href="?page_claimed={{ claimed_reservations.paginator.num_pages }}&page_unclaimed={{ unclaimed_reservations.number }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
            <!-- Unclaimed Reservations -->
            <h3>Unclaimed Reservations</h3>
{% for reservation in unclaimed_reservations %}
    {% if reservation.is_expired %}
    <li>
        Your reservation for {{ reservation.item.name }} from {{ reservation.item.store }} has expired
    </li>
    {% else %}
    <li>
        You have <span id="timer-{{ reservation.id }}"></span> to claim your reservation for {{ reservation.item.name }} from {{ reservation.item.store }}
    </li>
    {% endif %}
{% endfor %}
            <!-- Pagination for Unclaimed Reservations -->
            <div class="pagination">
                <span class="step-links">
                    {% if unclaimed_reservations.has_previous %}
                        <a href="?page_claimed={{ claimed_reservations.number }}&page_unclaimed=1">&laquo; first</a>
                        <a href="?page_claimed={{ claimed_reservations.number }}&page_unclaimed={{ unclaimed_reservations.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ unclaimed_reservations.number }} of {{ unclaimed_reservations.paginator.num_pages }}.
                    </span>

                    {% if unclaimed_reservations.has_next %}
                        <a href="?page_claimed={{ claimed_reservations.number }}&page_unclaimed={{ unclaimed_reservations.next_page_number }}">next</a>
                        <a href="?page_claimed={{ claimed_reservations.number }}&page_unclaimed={{ unclaimed_reservations.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
    <!-- Tickets Section -->
    <div class="container">
        <div id="tickets-section" class="profile-groups">
            <!-- Messages and Booked Tickets -->
            <div class="profile-group">
                {% if messages %}
                    <div id="messages-anchor">
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if booked_tickets %}
                    <h3>Your Booked Seats</h3>
                    <hr>
                    <ul>
                        {% for ticket in booked_tickets %}
                            <li>
                                Movie: {{ ticket.screening.movie.movie_name }} -
                                Time: {{ ticket.screening.show_time }} -
                                Hall: {{ ticket.screening.hall.hall_name }} -
                                Seat: Row Number {{ ticket.seat.row }}, Seat Number {{ ticket.seat.column }}
                                <form action="{% url 'unbook_seat' ticket.id %}" method="post" class="unbook-form">
                                    {% csrf_token %}
                                    <button type="submit">Unbook Seat</button>
                                </form>

                            </li>
                        {% endfor %}
                        <span class="timer" data-start-time="{{ ticket.screening.show_time|date:"U" }}"></span>
                    </ul>
                {% else %}
                    <h3>You have no booked seats.</h3>
                    <a href="{% url 'cinema_schedule' %}">You can book some here</a>
                    <hr>
                {% endif %}
            </div>
        </div>
    </div>


    <!-- Delete Profile Button -->
    <div class="container-danger">
        <hr style="margin: 15px">
        <a class="btn btn-danger" href="{% url 'delete_profile' %}">Delete Profile</a>
        <hr style="margin: 15px">
    </div>
    <!-- Including JavaScript for Authentication -->
    <script src="{% static 'auth/auth.js' %}"></script>
    <script>
    {% for reservation in unclaimed_reservations %}
        startTimer("{{ reservation.id }}", "{{ reservation.reservation_time|date:'c' }}", {{ reservation.item.reservation_timer }});
    {% endfor %}
</script>

{% endblock %}