{% extends 'base.html' %}
{% block content %}

    <div class="section messages-section">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

    </div>
    <div class="container-car-entrance-exit">

        <div class="section form-section">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="messages-section button-submit-parking" type="submit">Submit</button>
            </form>
            <h2>Free spots: {{ free_spots }}</h2>
        </div>
    </div>

    <style>
        .container-car-entrance-exit {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            text-align: center;
        }

        .section {
            /* Add space between sections if needed */
            margin-right: 20px;
        }

        .messages-section {
            display: flex;
            height: 100px;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        .button-submit-parking {
            {#height: 100px;#}
            border: none; /* Remove border */
            {#color: white; /* White text */#}
            {#padding: 10px 20px; /* Some padding */#}
            text-align: center; /* Center text */
            text-decoration: none; /* Remove underline */
            display: inline-block;
            {#font-size: 16px; /* Increase font size */#}
            {#margin: 4px 2px; /* Add some margin */#}
            cursor: pointer; /* Add a mouse pointer on hover */
            border-radius: 5px; /* Rounded corners */
        }

        .submit-button:hover {
            background-color: #45a049; /* Darken background on hover */
        }

    </style>
{% endblock %}
