{#<!DOCTYPE html>#}
{#<html lang="">#}
{#<head>#}
{#    <title>Register Car</title>#}
{#</head>#}
{#<body>#}
{% extends 'base.html' %}
{% block content %}
    <div class="register-car-view">
    <form method="post">
    {% csrf_token %}
    {{ form.license_plate.label_tag }} {{ form.license_plate }}
    {{ form.car_type.label_tag }} {{ form.car_type }}
    {{ form.code.label_tag }} {{ form.code }}
    <button type="submit">Register Car</button>
</form>
    </div>

    <style>
    .register-car-view {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    </style>
{% endblock %}
{#</body>#}
{#</html>#}
