.store-details {
    display: flex;
    flex-direction: column;
}

.store-overview {
    display: flex;
    flex-direction: column;
    background: none;
}

.store-overview span {
    width: 100%;
    background: #8d9ca3;
    text-align: center;
    font-size: 50px;
    line-height: 60px;
}

.store-overview img {
    width: 300px;
    margin: 15px auto;
}