.seat-booking-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 624px;  /* Adjust as needed */
}

.seat-booking-form label {
    width: 35px;  /* Adjust as needed */
    height: 35px;  /* Adjust as needed */
    border: 1px solid #000;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: green; /* default background color */
}

.seat-booking-form label::before {
    content: attr(data-seat);  /* use data-seat attribute to display seat info */
    font-size: 12px;  /* Adjust as needed */
}

/* Style for checked seats */
.seat-booking-form label input:checked + ::before {
    color: white; /* Change text color if needed */
    background-color: red; /* Change background color */
}

/* Style for disabled (already booked) seats */
.seat-booking-form label input:disabled + ::before {
    color: white; /* Change text color if needed */
    background-color: grey; /* Change background color */
}
