{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Features -->
    <section id="features">
        <div class="container-fluid">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div id="storeCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">

                            {% for store in stores %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <div class="row centered">
            <div class="col-4 store-border">
                <a href="{% url 'store_detail' pk=store.id %}">
                    <img src="{{ store.image.url }}" class="store-image d-block w-100" alt="{{ store.name }}"/>
                </a>
            </div>
        </div>
    </div>
{% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#storeCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#storeCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </section>


    <style>
    #header h1 {
        position: unset;
        margin-top: 20px;
    }
    #logo-image{
        position: unset;
        height: 90px;
    }
.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.store-border {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
    overflow: hidden;
}

.store-image {
    max-height: 80% !important;
    width: auto !important;
    max-width: 100% !important;
    margin: auto !important;
    display: none;!important;
}


    </style>

    <script>
    $(document).ready(function() {
        $('#storeCarousel').carousel({
            interval: false
        });
    });
</script>

{% endblock %}
