<!-- templates/item_detail.html -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ object.name }}</h1>
<p>{{ object.description }}</p>
<p>Price: {{ object.price }}</p>
<img src="{{ object.image.url }}" alt="{{ object.name }}">
<p>Quantity available: {{ object.quantity }}</p>
{% if object.available_for_reservation and object.quantity > 0 %}
    <a href="{% url 'reserve_item' object.id %}">Reserve this item</a>
{% else %}
    <p>This item is currently unavailable for reservation.</p>
{% endif %}
</body>
</html>