<!DOCTYPE html>
<html lang="">
<head>

</head>
<body>
{% extends 'base.html' %}
{% block content %}
{% load custom_filters %}
<link rel="stylesheet" type="text/css" href="../static/cinema/seats.css">

{% for movie in movies %}
    <h2>{{ movie.movie_name }}</h2>
    {% for schedule in movie.schedule_set.all %}
        <p>Show time: {{ schedule.show_time }}</p>
        <p>Hall: {{ schedule.hall.hall_name }}</p>

        <h3>Seats:</h3>
        <form class="seat-booking-form" method="POST">
            {% csrf_token %}
            <input type="hidden" name="screening" value="{{ schedule.id }}">

            {% for seat in schedule.hall.hallseat_set.all %}
                <label data-seat="{{ seat.row }}-{{ seat.column }}">
                    <input type="checkbox" name="seats" value="{{ seat.id }}" {% if seat.id in booked_seats|get_item:schedule.id %}disabled{% endif %}>

                </label>
            {% endfor %}
            <button type="submit">Book Selected Seats</button>
        </form>
    {% endfor %}
{% endfor %}

    <script>
    function updateSeatColor(label) {
        const input = label.querySelector('input');
        if (input.checked || input.disabled) {
            label.style['background-color'] = 'red';
        } else {
            label.style['background-color'] = 'green';
        }
    }

    document.querySelectorAll('.seat-booking-form label').forEach((label) => {
        const input = label.querySelector('input');

        // Set the initial color
        updateSeatColor(label);

        // Add an event listener to update the color when the input changes
        input.addEventListener('change', () => {
            updateSeatColor(label);
        });
    });
</script>

{% endblock %}
</body>
</html>