
{% extends 'base.html' %}
{% load static %}
{% block content %}

    <h1>{{ store.name }}</h1>
    <p>{{ store.description }}</p>

    <h2>Items</h2>
    {% for item in items %}
        <h3>{{ item.name }}</h3>
        <p>{{ item.description }}</p>
        <img src="{{ item.image.url }}" alt="{{ item.name }}">
        {% if item.quantity %}
            <a href="{% url 'reserve_item' item.id %}">Reserve this item</a>
            <img src="{{ store.image.url }}" alt="{{ store.name }}">
        {% else %}
            <p>This item is out of stock.</p>
        {% endif %}
    {% empty %}
        <p>No items available in this store.</p>
    {% endfor %}

{% endblock %}
