{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <title>Document</title>#}
{#</head>#}
{% extends 'base.html' %}
{% block content %}

<body>
        <h1>Stores</h1>
    {% for store in stores %}
        <h2><a href="{% url 'store_detail' store.id %}">{{ store.name }}</a></h2>
        <p>{{ store.description }}</p>
        <img src="{{ store.image.url }}" alt="{{ store.name }}">
    {% empty %}
        <p>No stores available.</p>
    {% endfor %}
</body>
{% endblock %}
{#</html>#}