{% extends 'base.html' %}
{% block content %}
{% load custom_filters %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'stores/store_details.css' %}">

    <div class="store-details">
        <div class="store-overview">
            <span class="store-title">{{ store.name }}</span>
            <img src="{{ store.image.url }}">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-16 col-12"></div>

            </div>
        </div>
    </div>

    {% for item in items %}
        <h3>{{ item.name }}</h3>
        <p>{{ item.description }}</p>
        <img src="{{ item.image.url }}" alt="{{ item.name }}">
        {% if item.quantity %}
            <a href="{% url 'reserve_item' item.id %}">Reserve this item</a>
            <img src="{{ store.image.url }}" alt="{{ store.name }}">
        {% else %}
            <p>This item is out of stock.</p>
        {% endif %}
    {% empty %}
        <p>No items available in this store.</p>
    {% endfor %}

{% endblock %}
