{% extends 'base.html' %}
{% block content %}
    <br>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="container profile-groups">
        <div class="profile-group">
            <form method="post" action="{% url 'profile' %}">
                <h1>Update Profile</h1>
                <hr>
                {{ form.as_p }}
                {% csrf_token %}
                <button class="btn btn-success" type="submit">Save changes</button>
            </form>
            <form method="post" id="logout-form" action="{% url 'logout_user' %}">
                {% csrf_token %}
                <button class="btn btn-danger" id="logout-btn" type="submit">Logout</button>
            </form>
        </div>
        <div class="profile-group">
            <h1>Reservations</h1>
            <hr>
            <h3>Claimed Reservations</h3>
            {% for reservation in claimed_reservations %}
                <li>
                    You reserved {{ reservation.item.name }} on {{ reservation.reservation_time }}
                    <span>CLAIMED</span>
                </li>
            {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if claimed_reservations.has_previous %}
                        <a href="?page_claimed=1&page_unclaimed={{ unclaimed_reservations.number }}">&laquo; first</a>
                        <a href="?page_claimed={{ claimed_reservations.previous_page_number }}&page_unclaimed={{ unclaimed_reservations.number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ claimed_reservations.number }} of {{ claimed_reservations.paginator.num_pages }}.
                    </span>

                    {% if claimed_reservations.has_next %}
                        <a href="?page_claimed={{ claimed_reservations.next_page_number }}&page_unclaimed={{ unclaimed_reservations.number }}">next</a>
                        <a href="?page_claimed={{ claimed_reservations.paginator.num_pages }}&page_unclaimed={{ unclaimed_reservations.number }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>

            <h3>Unclaimed Reservations</h3>
            {% for reservation in unclaimed_reservations %}
                <li>
                    You reserved {{ reservation.item.name }} on {{ reservation.reservation_time }}
                    <span id="timer-{{ reservation.id }}"></span>
                </li>
            {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if unclaimed_reservations.has_previous %}
                        <a href="?page_claimed={{ claimed_reservations.number }}&page_unclaimed=1">&laquo; first</a>
                        <a href="?page_claimed={{ claimed_reservations.number }}&page_unclaimed={{ unclaimed_reservations.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ unclaimed_reservations.number }} of {{ unclaimed_reservations.paginator.num_pages }}.
                    </span>

                    {% if unclaimed_reservations.has_next %}
                        <a href="?page_claimed={{ claimed_reservations.number }}&page_unclaimed={{ unclaimed_reservations.next_page_number }}">next</a>
                        <a href="?page_claimed={{ claimed_reservations.number }}&page_unclaimed={{ unclaimed_reservations.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="profile-groups">
            <div class="profile-group">
                <h3>Your Booked Seats</h3>
                <hr>
                <ul>
                {% for ticket in booked_tickets %}
                    <li>
                        Movie: {{ ticket.screening.movie.movie_name }} -
                        Time: {{ ticket.screening.show_time }} -
                        Hall: {{ ticket.screening.hall.hall_name }} -
                        Seat: Row Number {{ ticket.seat.row }}, Seat Number {{ ticket.seat.column }}
                <form action="{% url 'unbook_seat' ticket.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Unbook Seat</button>
                        </form>
                    </li>
                {% endfor %}
                <span class="timer" data-start-time="{{ ticket.screening.show_time|date:"U" }}"></span>
                </ul>
            </div>
        </div>
    </div>



<div class="container">
    <hr style="margin: 15px">
        <a class="btn btn-danger" href="{% url 'delete_profile' %}">Delete Profile</a> <!-- Add this line -->
</div>


<script>
    const logoutBtn = document.getElementById('logout-btn');
    logoutBtn.onclick = (event) => {
        event.preventDefault();
        const form = document.getElementById('logout-form');
        form.submit()
    }

    function startTimer(reservationId, reservationTime, reservationTimerMinutes) {
        var countdownDate = new Date(reservationTime).getTime() + reservationTimerMinutes * 60 * 1000;
        var x = setInterval(function() {
            var now = new Date().getTime();
            var distance = countdownDate - now;
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            document.getElementById("timer-" + reservationId).innerHTML = minutes + "m " + seconds + "s ";

            if (distance < 0) {
                clearInterval(x);
                document.getElementById("timer-" + reservationId).innerHTML = "EXPIRED";
                // Make an AJAX call to the server to increase the item quantity
                fetch(`/increase_item_quantity/?reservation_id=${reservationId}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'success') {
                            console.log('Item quantity increased by 1.');
                        } else if (data.status === 'already_increased') {
                            console.log('Item quantity was already increased.');
                        }
                    });
        }
    }, 1000);
}

    {% for reservation in unclaimed_reservations %}
        startTimer("{{ reservation.id }}", "{{ reservation.reservation_time|date:'c' }}", {{ reservation.item.reservation_timer }});
    {% endfor %}
function updateTimers() {
    // Get all the elements with class timer
    var timers = document.getElementsByClassName('timer');
    if (!timers.length) {
        return;
    }

    // Loop through each timer element
    for (var i = 0; i < timers.length; i++) {
        // Get the start time for this timer
        var startTime = new Date(parseInt(timers[i].dataset.startTime) * 1000);

        // Calculate the time remaining
        var now = new Date();
        var timeRemaining = startTime - now;

        // Check if the time remaining is positive
        if (timeRemaining > 0) {
            // Calculate hours, minutes, and seconds
            var hours = Math.floor(timeRemaining / (1000 * 60 * 60));
            var minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000);

            // Update the display
            timers[i].innerText = hours + "h " + minutes + "m " + seconds + "s remaining";
        } else {
            // If the time remaining is not positive, the movie has started
            timers[i].innerText = "Movie has started";
        }
    }
}

// Update the timers every second
setInterval(updateTimers, 1000);
</script>

{% endblock %}