
{% extends 'base.html' %}
{% block content %}
{% load custom_filters %}
{% load static %}
<link rel="stylesheet" type="text/css" href="../../static/cinema/seats.css">

    <br>

<div class="container">
    {% for movie in movies %}
        <div class="row">
            <div class="col-2">
                <img class="movie-poster" src="{% get_media_prefix %}{{ movie.image }}" />
            </div>
            <div class="movie col-7">
                <p class="movie-title">{{ movie.movie_name }}</p>
                <div class="container">
                    {% for schedule in movie.schedule_set.all %}
                        <button data-screening="{{ schedule.id }}" class="screening-btn">
                            {{ schedule.hall.hall_name }}: {{ schedule.show_time }}
                        </button>
                    {% endfor %}

                    {% for schedule in movie.schedule_set.all %}
                        <form data-screening="{{ schedule.id }}" class="seat-booking-form" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="screening" value="{{ schedule.id }}">

                            {% for seat in schedule.hall.hallseat_set.all %}
                                <label data-seat="{{ seat.row }}-{{ seat.column }}">
                                    <input type="checkbox" name="seats" value="{{ seat.id }}" {% if seat.id in booked_seats|get_item:schedule.id %}disabled{% endif %}>
                                </label>
                            {% endfor %}
                            <button type="submit">Book Selected Seats</button>
                        </form>
                    {% endfor %}
                </div>
            </div>
        </div>
        <hr>
    {% endfor %}
</div>
    <script>
        function updateSeatColor(label) {
            const input = label.querySelector('input');
            if (input.checked || input.disabled) {
                label.style['background-color'] = 'red';
            } else {
                label.style['background-color'] = 'green';
            }
        }

        document.querySelectorAll('.seat-booking-form label').forEach((label) => {
            const input = label.querySelector('input');
            updateSeatColor(label);
            input.addEventListener('change', () => {
                updateSeatColor(label);
            });
        });


            const screeningForms = document.querySelectorAll('.seat-booking-form[data-screening]');
            function showScreening(event) {
    screeningForms.forEach((form) => {
        if (form.dataset.screening === event.target.dataset.screening) {
            if (form.classList.contains('active')) {
                form.classList.remove('active');
            } else {
                form.classList.add('active');
            }
        } else {
            form.classList.remove('active');
        }
    });
}


        document.querySelectorAll('.screening-btn[data-screening]').forEach((btn) => {
            btn.onclick = showScreening;
        })
    </script>

{% endblock %}
</body>
</html>